.PlaceList {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 848px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  min-height: 320px;
  overflow-y: auto;
  padding: 0.5rem;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 32px;
  margin: 16px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s color ease-in;
  &:hover {
    color: rgb(32, 147, 241);
  }
}
.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
