.PlaceDetail {
  margin-top: 2rem;
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  img {
    width: 768px;
  }

  .info {
    padding: 1rem;
  }
  .modifiedTime {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 0.7rem;
  }
  hr {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
  }
  .subtitle {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
}
