.PlaceListItem {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: 0.1s background ease-in;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  img {
    height: 244px;
    width: 366px;
  }
  .info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(22, 22, 22);
  }
  &:hover {
    background: rgb(228, 228, 228);
  }
  & + & {
    margin-top: 1.5rem;
  }
}
