.Reviews {
  margin-top: 1rem;
}
.ReviewForm {
  margin-top: 2rem;
  .NameOption {
    display: flex;
    Input {
      width: 13rem;
      margin-right: 0.5rem;
    }
  }

  .TextSubmit {
    display: flex;
    Button {
      margin-left: 0.5rem;
      height: 5rem;
      width: 5rem;
    }
  }
}
